import * as s from './styles';

const {{pascalCase name}} = () => (
  <s.{{pascalCase name}}Wrapper aria-label="{{pascalCase name}} component">
    <h1>{{pascalCase name}}</h1>
  </s.{{pascalCase name}}Wrapper>
);

export default {{pascalCase name}};
